@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

.MainContentAbout {
  left: 270px;
  right: 0;
  height: 100vh;
  background-color: rgb(147, 147, 147);
  background-image: url(Images/wave-haikei.svg),
    linear-gradient(
      10deg,
      rgba(210, 210, 210, 1) 0%,
      rgba(184, 184, 184, 1) 35%,
      rgba(144, 144, 144, 1) 100%
    );
  background-repeat: repeat-x;
  background-position-x: center;
  background-attachment: local;
  background-size: auto;
  position: fixed;
  font-size: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

.GridAbout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 2vh;
}

.AboutHeader {
  font-family: "Dancing Script";
  font-size: 65px;
  color: #e0e0e0;
  background-color: rgb(23, 23, 23);
  min-width: 100%;
  border-bottom: 0.2vh solid #f3ecdf;
  box-shadow: 0px 1px 5px #ffffff;
  grid-column: span 4;
  text-align: center;
}

.nav .AboutButton {
  background-color: rgb(200,200,200);
  font-size: 18.5px;
  animation: 150ms ease-in-out 0s BounceText;
}


.AboutGallery {
  grid-column: span 4;
  background-color: black;
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.AboutDescription {
  top: 50vh;
  word-wrap: break-word;
  grid-column: span 2;
  background-color: #e4e4e4;
  border-radius: 1vh;
  padding: 5vh;
  border: 0.25vh solid black;
  text-align: center;
  font-family: "Handlee";
  transition: 100ms;
  margin-top: 4vh;
}

.AboutDescription:hover {
  transform: scale(1.0075);
  transition: 100ms;
  box-shadow: 5px 10px 15px rgb(0, 0, 0);
}

/*Scroll Effect*/

/* Idt We need this
 #AboutGallery {
    height:350px; 
    position:absolute; 
    overflow:hidden;
  }*/

.PhotoBanner {
  overflow: hidden;
  white-space: nowrap;
  animation: bannermove 80s linear infinite;
  left: 0.1vw;
  border-top: 0.25vh solid black;
  border-bottom: 0.25vh solid black;
  box-shadow: 0px -0.5px 8px rgb(0, 0, 0);
}

.PhotoBanner img {
  border-right: 0.15vh solid black;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}



/*End Scroll Effect*/