@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.MainContentDish {
  display: grid;
  left: 270px;
  right: 0;
  height: 100vh;
  background-color: rgb(147, 147, 147);
  background: linear-gradient(
    10deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(184, 184, 184, 1) 35%,
    rgba(144, 144, 144, 1) 100%
  );
  position: fixed;
  font-size: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

.GridDish {
  display: grid;
  justify-items: center;
  row-gap: 8vh;
}

.nav .RecipesButton {
  background-color: rgb(200, 200, 200);
  font-size: 18.5px;
  animation: 150ms ease-in-out 0s BounceText;
}

.PSCDishTitle {
  font-family: "Dancing Script";
  color: rgb(228, 228, 228);
  background-color: rgb(97, 50, 50);
  /*rgb(164, 91, 91) - Red
    rgb(102, 66, 96) - Purple -- Other Color Possibilities*/
  min-width: 100%;
  text-align: center;
  border-bottom: 0.2vh solid black;
  box-shadow: 0px 1px 5px black;
}

.PhillyDishTitle {
  font-family: "Dancing Script";
  color: rgb(0, 0, 0);
  background-color: rgb(232, 199, 122);
  /*rgb(164, 91, 91) - Red
    rgb(102, 66, 96) - Purple -- Other Color Possibilities*/
  min-width: 100%;
  text-align: center;
  border-bottom: 0.2vh solid black;
  box-shadow: 0px 1px 5px black;
}

.IngredientsHeader {
  text-align: center;
  font-size: larger;
  font-family: "Dancing Script";
  margin-bottom: 1vh;
}

.Ingredients {
  text-align: left;
  /*margin-left: 25%;*/
  border: 0.25vh solid rgb(150, 150, 150);
  background: #f1f1f1;
  border-radius: 0.4vw;
  box-shadow: 0px 0.65px 10px rgb(0, 0, 0);
  box-shadow: 10px 35px 15px rgb(0, 0, 0);
  padding: 2vh;
  padding-left: 5vh;
  /*background-image: url(/Images/dishesbackground.svg);
  background-color: #cccccc77;*/
  font-family: "Handlee";
  transition: 100ms;
}

.Ingredients:hover {
  transform: scale(1.005);
  transition: 100ms;
}

.Ingredients li {
  list-style-type: disc;
  border-bottom: 1px solid rgba(0, 0, 255, 0.564);
}
.Ingredients .IngredientsHeader {
  border-bottom: 1px solid rgba(209, 0, 0, 0.564);
  text-align: center;
  list-style-type: none;
  font-family: "Handlee";
  font-size: 5vw;
}

.DishVideo {
  border: 2vh solid black;
  border-radius: 1vh;
  background: black;
}

.MacaroonDishTitle {
  font-family: "Dancing Script";
  color: rgb(0, 0, 0);
  background-color: rgb(227, 217, 193);
  /*rgb(164, 91, 91) - Red
    rgb(102, 66, 96) - Purple -- Other Color Possibilities*/
  min-width: 100%;
  text-align: center;
  border-bottom: 0.2vh solid black;
  box-shadow: 0px 1px 5px black;
}

.ChickShawarmaDishTitle {
  font-family: "Dancing Script";
  color: rgb(0, 0, 0);
  background-color: rgba(241, 27, 27, 0.589);
  /*rgb(164, 91, 91) - Red
    rgb(102, 66, 96) - Purple -- Other Color Possibilities*/
  min-width: 100%;
  text-align: center;
  border-bottom: 0.2vh solid black;
  box-shadow: 0px 1px 5px black;
}
