.nav .ReviewsButton {
  background-color: rgb(200,200,200);
  font-size: 18.5px;
  animation: 150ms ease-in-out 0s BounceText;
}
  

.MainContentReviews {
    left: 270px;
    right: 0;
    height: 100vh;
    background-color: rgb(147, 147, 147);
    background: linear-gradient(
      10deg,
      rgba(210, 210, 210, 1) 0%,
      rgba(184, 184, 184, 1) 35%,
      rgba(144, 144, 144, 1) 100%
    );
    position: fixed;
    font-size: 30px;
  }

  .MainContentReviews p {
      text-align: center;
      margin-bottom: 5vh;
      font-family: "Dancing Script";
      background-color: white;
      border-radius: 1vw;
      padding: 1vw;
      box-shadow: 0px 0px 1vw rgb(93, 93, 93);
      width: 100%;
      background-image: url(Images/blob-scene-haikei\ \(13\).svg);
      background-size: cover;
  }
